# Backend
backend/target/
backend/*.log

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env

# Java
*.class
*.jar

# Env
.env
backend/src/main/resources/application.properties

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db